/build/
!gradle/wrapper/gradle-wrapper.jar
.gradle/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

dist/
nbdist/
.nb-gradle/

# folder to store test seed files
testfiles/
